*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__nav p {
  padding-right: 40px;
}
.header__tel a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
.header__tel {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__button {
  border: 1px solid #3a83e827;
  padding: 12px 29px;
}
.header__button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}
.header-about {
  background-size: cover;
  background-image: url(/img/Header__about-photo.png);
  background-repeat: no-repeat;
}
.header__about {
  display: flex;
  min-height: 738px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header__about-text {
  color: #fff;
  max-width: 609px;
  margin-bottom: 40px;
  margin-top: 178px;
}
.header__about-button a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  background-color: #c01b2f;
  padding: 19px 50px;
  margin-bottom: 100px;
}
.header__about-text h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 69px;
  margin-bottom: 40px;
}
.header__about-text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}
.header__about-social {
  display: block;
  margin-bottom: 35px;
}
.trigger {
  margin-bottom: 65px;
}
.trigger__container {
  margin-top: 72px;
}
.trigger__container span {
  color: #c01b2f;
}
.trigger__container h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 69px;
}
.trigger__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.trigger__text-item {
  margin-top: 40px;
  text-align: center;
  max-width: 184px;
}
.trigger__text-item h3 {
  font-weight: bold;
  font-size: 64px;
  line-height: 69px;
}
.trigger__text-item p {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}
.article_container {
  margin-bottom: 100px;
}
.article_body {
  display: flex;
  align-items: center;
}
.article__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin-right: 30px;
}
.article_head span {
  color: #c01b2f;
}
.article_head h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 69px;
}
.article_head {
  margin-bottom: 40px;
}
.forms {
  min-height: 389px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/Forms\ BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}
.forms-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}
.forms-text h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 69px;
  color: #fff;
}
.forms-text p {
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 60px;
}
.forms__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forms-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.forms-item input {
  text-align: center;
  width: 410px;
  height: 60px;
  margin-right: 30px;
  font-weight: normal;
  font-size: 15px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.forms-item .button {
  width: 410px;
  height: 60px;
  background-color: #c01b2f;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-top: 20px;
}
.teacher__header span {
  color: #c01b2f;
}
.teacher__header h2 {
  margin-bottom: 57px;
}
.teacher__container {
  display: flex;
  flex-direction: column;
}
.teacher-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;
}
.teacher-item p {
  text-align: center;
}
.teacher-item {
  background-color: #f5f5f5;
}
.teacher__name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.teacher__country {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
.teacher__title {
  margin-bottom: 34px;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}
.teacher__dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.teacher-dots {
  margin-right: 15px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.teacher-dots.active {
  background-color: #5f5f5f;
}
.teacher-dots:hover {
  background-color: #5f5f5f;
}
